

<a href="#myModal" id="model-show" class="btn btn-success" data-toggle="modal">Create Labour Resource  <span class="fa fa-plus"></span></a>


<button type="button" class="btn btn-danger">
    Delete Resource <span class="fa fa-minus"></span>
  </button>


  <button type="button" class="btn btn-default">
    Search / Filters  <span class="fa fa-search"></span>
  </button>

<button type="button" class="btn btn-default">
    Manage Layout  <span class="fa fa-clipboard"></span>
  </button>


<button type="button" class="btn btn-default">
    Add Comment  <span class="fa fa-comment"></span>
  </button>

 <div id="create-model"></div>
