 <ul id="tabs" class="nav nav-tabs" style="margin-bottom:5px;">
    <li role="presentation"><a href="#overview" class="nav-link">{{t "overview"}}</a></li>
    <li role="presentation"><a href="#wp1" class="nav-link">{{t "workpackage1"}}</a></li>
    <li role="presentation"><a href="#wp2" class="nav-link">{{t "workpackage2"}}</a></li>
</ul>