<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="#"><img alt="Dassian UK" src="./images/dassian.png" width="100px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#overview" class="nav-link">{{t "overview"}}</a></li>
                <li><a href="#wp1" class="nav-link">{{t "workpackage1"}}</a></li>
                <li><a href="#wp2" class="nav-link">{{t "workpackage2"}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nadeem <span class="fa fa-user"></span></a>
                <ul class="dropdown-menu" id="user">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
               </li>
             {{!--  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{t "language"}} <span class="caret"></span></a>
                <ul class="dropdown-menu" id="lang">
                </ul>
              </li> --}}
             
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
   
</nav>
 <div class="" style="margin-bottom:5px;">
<h4 class="text-primary text-center"><span class="fa fa-cubes"></span>  EAC Workbench - <span id="main-heading-container">Overview</span></h4>
</div>

