<div id="MainMenu">
 <div class="list-group panel" id="menu-items">
	<a href="#proj" class="list-group-item list-group-item-primary" data-toggle="collapse" data-parent="#MainMenu">Portfolio Hierarchy</a>
  <div class="collapse" id="proj">

  </div>
</div>

</div>


{{!-- <div class="well">
        <ul class="nav nav-list" data-toggle="collapse">
            <li><label class="tree-toggler nav-header">Header 1</label>
                <ul class="nav nav-list tree" class="collapse">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            </li>
        </ul>
</div> --}}