<div class="table-responsive"> 
<table class="table table-striped table-condensed table-bordered">
    <thead>
      <tr>
        <th>Account (proj+WP)</th>
        <th>Description</th>
        <th>BAC</th>
        <th>ACWP</th>
        <th>Working EAC</th>
        <th>BCWP</th>
      </tr>
    </thead>
    <tbody id="overview-table-body">
    </tbody>
</table>
</div>